# Dependencies
node_modules/

# Build / output
out/
dist/
build/
coverage/

# PCF specific
*.pcfproj.user
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
